<section class=" mx-auto w-3/4 detail" *ngIf="movieData">
  <div class="row">
    <div class="col-6">
      <h2>{{movieData.Title}}</h2>
      <span>{{movieData.Year}}</span>
      <span> {{movieData.Rated}}</span>
    </div>
    <div class="col">
      <h5>POPULARITY</h5>
      <span>2020</span>
    </div>
    
    <div class="col genre">
      <strong>IMB Rating: &nbsp;</strong>
      <span>{{movieData.imdbRating}}/10</span>
    </div>
    
    <div class="col genre">
      <strong>IMB Votes: &nbsp;</strong>
      <span>{{movieData.imdbVotes}}</span>
    </div>
  </div>
  <div class="row strip">
    <div class="col flex justify">
      <div class="flex">
        <strong>Run Time: &nbsp;</strong>
        <p>{{movieData.Runtime}}</p>
      </div>
      <div class="flex">
        <strong>Awards: &nbsp;</strong>
        <p>{{movieData.Awards}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <figure>
        <img src="{{movieData.Poster}}" alt="">
      </figure>
    </div>
    <div class="col-8">
      <div class="genre flex">
        <strong>Released: &nbsp;</strong>
        <p>{{movieData.Released}}</p>
      </div>
      <div class="genre flex">
        <strong>Genre: &nbsp;</strong>
        <p>{{movieData.Genre}}</p>
      </div>
      <div class="actor flex">
        <strong>Actor: &nbsp;</strong>
        <p>{{movieData.Actors}}</p>
      </div>
      <div class="actor flex">
        <strong>Director: &nbsp;</strong>
        <p>{{movieData.Director}}</p>
      </div>
      <div class="actor flex">
        <strong>Writer: &nbsp;</strong>
        <p>{{movieData.Writer}}</p>
      </div>
      <div class="actor flex">
        <strong>Language: &nbsp;</strong>
        <p>{{movieData.Language}}</p>
      </div>
      <div class="actor flex">
        <strong>Country: &nbsp;</strong>
        <p>{{movieData.Country}}</p>
      </div>
      <div class="actor flex">
        <strong>Awards: &nbsp;</strong>
        <p>{{movieData.Awards}}</p>
      </div>
      
      <div class="plot">
        <strong>Plot: &nbsp;</strong>
        <p>{{movieData.Plot}}</p>
      </div>
    </div>
  </div>
</section>